@charset "utf-8";

/* CSS Document */

h1 {
    text-align: center;
}

.subtitulo {
    font-size: 12px;
}

body {
    background-color: rgb(255, 204, 251);
}

body td {
    background-color: rgb(67, 207, 109);
}

table td {
    text-align: center;
    border: 1px #000099 dotted;
}

table .sin {
    border: 0;
}

table .bot {
    padding: 0 5px;
    display: inline;
    border: 0;
}

table .primera_fila {
    font-size: 1.5em;
    text-decoration: underline;
    background-color: rgb(255, 51, 51);
}

.centrado {
    text-align: center;
}